<table>
  <tr>
    <td>
      <ul id="messages">
        <% @messages.each do |message| %>
            <li><div class="time"><%= message.created_at.to_i %></div> |   <%= message.user.username %>    :     <%= message.message %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul id="users">
          <li><%=  @users.username  %></li>
      </ul>
    </td>
  </tr>
</table>
<input type="text" id="field_message" class="input-medium">
<input type="button" class="button btn btn-primary" value="Отправить" >
<%= form_tag ('/user/exit') %>
  <%= submit_tag ('Выйти') %>
<!--.gsub("/\d\d:\d\d/").to_a  -->