<%  content_for :message do %>
    <ol id="messages" >
        <% @messages.each do |message| %>
            <li><span class="time"><%= message.created_at.to_i %></span>&#9&#9<span class="username"><%= message.user.username %></span>&#9&#9<span class="message"><%= message.message %></span></li>
        <% end %>
    </ol>
<% end %>
<%  content_for :user do %>
      <ol id="users">
          <li><i class="icon-user icon-white"></i><%=  @users.username  %></li>
      </ol>
<% end %>
<div class="control-group">
      <br />
      <input type="text" id="field_message" class="input-xlarge control-label">
      <input type="button" class="button btn btn-primary " value="Отправить" >
</div>
<%= link_to "Выйти", "/user/exit" %>
<!--.gsub("/\d\d:\d\d/").to_a  -->